.image_container{
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}